<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker Countries</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eaque sed laudantium itaque dolor
        eveniet corporis vel est? Delectus corporis numquam illum a rerum veniam praesentium blanditiis tempore ratione
        nesciunt.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quos accusamus error fuga, consequatur vitae nam
        voluptatibus repellat. Labore impedit earum est. Quam nam neque sunt. Cum omnis magni deleniti.</p>
</div>