<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
</div>
<h1 class="text-center">Corona Covid-19 Tracker Countries</h1>
<div>
    
    <hr>
    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
            <label for="c">Select country</label>
            <select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
                <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
            </select>
        </div>
    </div>
    <app-dashboard-card [totalCases]='totalCases' [totalDeaths]='totalDeaths'></app-dashboard-card>

    <div class="card">
        <div class="col">
            <google-chart [type]='chart.type' [columns]='chart.columns' [data]='dataTable' [options]='chart.options'></google-chart>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Date</th>
                        <th>Cases</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let cs of selectedCountryData; index as i'>
                        <td>{{ i+1 }}</td>
                        <td>{{ cs.date | date }}</td>
                        <td>{{ cs.cases }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>